/* Global rules */
@property --highlight-color {
  syntax: "<color>";
  initial-value: #72EBF6;
  inherits: true;
}

:root {
    --text-color: #2d2d2d;
    --background-color: #f2f2f2;
    --separator-color: #ddd;
    --highlight-dark: #2996CE;
    --highlight-light: #72EBF6;
    animation: highlight 1s linear infinite;
    font-family: sans;
    color: var(--text-color);
    cursor: default;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f2f2f2;
        --separator-color: #444;
        --background-color: #2d2d2d;
    }
}

@keyframes highlight {
    0% {
        --highlight-color: var(--highlight-light);
    }

    50% {
        --highlight-color: var(--highlight-dark);
    }

    100% {
        --highlight-color: var(--highlight-light);
    }
}

:focus {
    border-radius: 1px;
    outline-style: solid;
    outline-width: 4px;
    outline-color: var(--highlight-color);
}

/* Generic elements */
body, dialog {
    background-color: var(--background-color);
}

small {
    display: block;
    color: #b3b0b0;
}

body {
    margin: 0 auto;
    max-width: 50rem;
}

button {
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: none;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled * {
    color: gray !important;
}

button:not([disabled]):hover {
    background-color: #3c3c3c;
}

dialog:focus {
    outline: none;
}

progress {
    width: 100%;
    height: 0.5rem;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid var(--separator-color);
}

progress::-webkit-progress-bar {
    background-color: var(--separator-color);
}

progress::-webkit-progress-value {
    background-color: var(--highlight-color);
}

/* Page rules */
header {
    margin: 0;
    border-bottom: solid 1px var(--text-color);
    padding: 0.8rem 2.5rem;
    font-weight: normal;
    font-size: 1.8rem;
}

main ul {
    font-size: 1.3rem;
    margin: 2.5rem 30rem;
    list-style-type: none;
    margin-inline: auto;
    padding-inline: 5rem;
}

main li {
    border-top: solid;
    border-color: var(--separator-color);
    border-width: 1px;
}

main li > * {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

main li > small {
    padding-top: 0.5rem;
}

main button .value {
    color: #01ffc8;
}

footer {
    border-top: solid 1px var(--text-color);
    padding: 0.8rem 2.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

dialog {
    --dialog-margin: 0.5rem;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: 4px;
    min-width: 40vw;
    text-align: center;
    color: inherit;
}

dialog > *:first-child {
    margin-top: var(--dialog-margin);
}

dialog > *:last-child {
    margin-bottom: var(--dialog-margin);
}

dialog::backdrop {
    background-color: rgba(10, 21, 34, 0.75);
}